/* global style  */
:root {
  --grey: #525252;
  --white: #fbfbfb;
  --themeColor: rgb(126, 126, 126);
}
html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #fbfafb;
  font-size: 16px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}
span,
P {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 5px 0;
}

/* nav style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  padding: 10px 0;
}
.home_icon {
  width: 25%;
  text-align: center;
}
.login {
  width: 25%;
  text-align: center;
}
.login a {
  color: red;
  padding: 5px;
}
.login a:hover {
  color: white;
  background-color: red;
  border-radius: 10px;
}
.navbar .list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
}
.navbar .list li {
  padding: 0 10px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation: out 1s ease;
}
.navbar .list li:hover {
  animation: in 1s ease;
}
.navbar .user {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar .dropdown-info {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transform: translateX(-50%);
}
.navbar .dropdown-info.active {
  display: block;
  z-index: 10;
}
.navbar .dropdown-info ul {
  list-style: none;
  padding: 10px;
}

.cart {
  display: none;
  width: 400px;
  left: -100%;
  top: 100%;
  background-color: white;
  box-shadow: 0px 3px 8px 6px rgba(0, 0, 0, 0.12),
    0px 2px 4px 3px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  z-index: 100;
}
.cart.active {
  display: block;
  position: absolute;
}
.cart-products {
  list-style: none;
  margin: 0;
  padding: 20px;
  overflow-x: scroll;
  max-height: 20vh;
}
.cart-products .item {
  padding: 10px;
  border-bottom: 1px solid #ceb6a1;
}
.cart-products .product {
  display: flex;
  align-items: center;
}
.cart_checkour_container {
  background-color: #ceb6a1;
  padding: 20px;
}
.cart_checkour_container button {
  width: calc(100% - 10px) !important;
}
.cart-products .product_name {
  align-self: flex-start;
  margin: 0 0 0 10px;
}
.cart-products .actions {
  display: flex;
  align-items: baseline;
  margin: 0 0 0 auto;
  align-self: flex-end;
}
.cart-container {
  cursor: pointer;
  padding-left: 10px;
}

.svg-inline--fa.fa-user {
  cursor: pointer;
  padding: 10px;
}
/* user */
.user {
  margin-right: 50px;
}
/* banner css  */
/* leaf */
.dot {
  width: 35px;
  height: 35px;
  position: absolute;
  background: url("../../assets/leaf.png");
  background-size: 100% 100%;
}
#container {
  width: 100%;
  height: 55vw;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
.banner_title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  z-index: 1;
  font-size: 5vw;
}
.fade-in-banner {
  position: relative;
}
.fade-in-banner .container {
  position: absolute;
  width: 100%;
}
.half-video-half-image {
  display: flex;
  max-width: 100vw;
  height: 55vw;
}
.half-video-half-image .video {
  position: relative;
}
.half-video-half-image .video img {
  width: 100%;
  height: 100%;
}
.half-video-half-image .image {
  position: relative;
}
.half-video-half-image .image img {
  width: 100%;
  height: 100%;
}
.half-video-half-image .image .image-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.half-video-half-image .image .image-container img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
/*half video half image */
.half-video-half-image {
  flex-direction: column;
}
.half-video-half-image .video,
.half-video-half-image .image {
  width: 100%;
}
/* image gallery  */
.image-gallery {
  padding: 15vw 0;
  position: relative;
}

.image-gallery .container {
  margin: 0 auto;
  position: relative;
  perspective: 2000px;
}

.image-gallery .carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.image-gallery .carousel div {
  transform-style: preserve-3d;
}

.image-gallery .item {
  display: block;
  position: absolute;
  background: #000;
  line-height: 20vw;
  font-size: 5em;
  text-align: center;
  color: #fff;
  opacity: 0.95;
  border-radius: 10px;
  transition: transform 1s;
}
.image-gallery .item img {
  user-select: none;
}
.image-gallery .a .item {
  background: inherit;
}
.image-gallery .b .item {
  background: inherit;
  transform: translateY(-4vw);
}
.image-gallery .c .item {
  background: inherit;
  transform: translateY(4vw);
}

.image-gallery .next,
.image-gallery .prev {
  justify-content: center;
  align-items: center;
  color: #525252;
  font-family: "Lato";
  border: 1px solid #d1c2b5;
  border-radius: 50%;
  height: 12vw;
  width: 12vw;
  color: #444;
  position: absolute;
  cursor: pointer;
  transform: translateY(-50%);
}
.image-gallery .next:hover,
.image-gallery .prev:hover {
  color: #000;
}
.image-gallery .next {
  top: 25%;
  right: 30%;
}
.image-gallery .prev {
  top: 75%;
  left: 30%;
}
/* footer */

.footer_container {
  background-color: var(--white);
  padding-top: 80px;
  margin-bottom: 80px;
}
.footer_container .footer_flex_box {
  color: var(--grey);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer_container .content {
  width: 15%;
}
.footer_container .content h4 {
  text-align: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--themeColor);
  margin: 0 0 30px 0;
}
.footer_container .content h4 span {
  font-size: 28px;
  font-family: lato;
  font-weight: 100;
}
.footer_container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer_container li {
  font-size: 12px;
  font-weight: 100;
}

.footer_container .social_media {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_container .contact_us_content li {
  padding-bottom: 40px;
}
.footer_container .contact_us_content span {
  padding: 5px 0;
}
.contact_us_content .phone,
.contact_us_content .email {
  position: relative;
  text-align: center;
}
.contact_us_content .phone {
  margin-top: 60px;
}
.contact_us_content .email {
  margin-top: 30px;
}
.contact_us_content .phone::after,
.contact_us_content .email::after {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: -30px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 50%;
  transform: translateX(50%);
}
.contact_us_content .phone::after {
  background-image: url("../../assets/phone_icon.png");
}
.contact_us_content .email::after {
  background-image: url("../../assets/email_icon.png");
}
.footer_container .address {
  text-align: center;
}
.footer_container .address p {
  color: var(--themeColor);
  font-size: 16px;
  font-weight: 700;
}

.social_media {
  display: flex;
  justify-content: space-evenly;
}

/* login page */
.LoginContainer .title,
.register-container .title {
  text-align: center;
}
.LoginContainer,
.register-container {
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.LoginContainer .LoginBox,
.register-container .register {
  border-radius: 28px;
  background-color: #ceb6a1;
  width: auto;
  min-height: 384px;
  padding: 20px;
}
.LoginContainer form,
.register-container .register {
  display: flex;
  flex-direction: column;
}

.register-container .register > div {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.LoginContainer form > div {
  padding: 10px;
  display: flex;
}
.register-container .submit {
  margin-top: auto;
}
.LoginContainer form label,
.register-container .register label {
  width: 120px;
  display: inline-block;
}
.LoginContainer .form.button input {
  width: 50%;
  margin: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
}
.register-container .register.flexbox > div input {
  width: calc(100% - 128px);
}
.register-container .error-message {
  color: red;
}
/* product page  */
.product_list {
  list-style: none;
  padding: 0 40px;
  margin: 100px 0 0 0;
}
.product_list .product {
  margin-bottom: 2.5vw;
  margin-left: 2.5vw;
  width: calc((100% - 5.00001vw) / 3);
  display: inline-block;
}
.product_list .product:nth-of-type(3n + 1) {
  margin-left: 0;
}
.product-container {
  background: #fff;
  position: relative;
  margin: 0;
  box-shadow: 0px 3px 8px 6px rgba(0, 0, 0, 0.12),
    0px 2px 4px 3px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.product-box {
  padding: 10px;
}
.product-box > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
* mobile view  < 768px  
*/

@media only screen and (max-width: 768px) {
  .image-gallery {
    overflow: hidden;
  }
  .image-gallery .next,
  .image-gallery .prev {
    display: none;
  }
  .image-gallery .container {
    width: 50vw;
    height: 50vw;
  }
  .image-gallery .item {
    width: 50vw;
    height: 50vw;
  }
  .image-gallery .a {
    transform: rotateY(0deg) translateZ(50vw);
  }
  .image-gallery .b {
    transform: rotateY(120deg) translateZ(50vw) rotateY(-120deg);
  }
  .image-gallery .c {
    transform: rotateY(240deg) translateZ(50vw) rotateY(-240deg);
  }
  /*half video half image */
  .half-video-half-image {
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  .half-video-half-image .video,
  .half-video-half-image .image {
    width: 100%;
  }
  #container {
    display: none;
  }
  /* footer */
  .footer_container .footer_flex_box {
    flex-direction: column;
    padding: 0 40px 40px 40px;
  }
  .footer_container .footer_flex_box .content {
    width: 100%;
    padding-bottom: 40px;
  }
  .footer_container .contact_us_content li:last-of-type {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .image-gallery .next,
  .image-gallery .prev {
    display: flex;
  }
  .image-gallery .container {
    width: 20vw;
    height: 20vw;
  }
  .image-gallery .item {
    width: 20vw;
    height: 20vw;
  }
  .image-gallery .a {
    transform: rotateY(0deg) translateZ(20vw);
  }
  .image-gallery .b {
    transform: rotateY(120deg) translateZ(20vw) rotateY(-120deg);
  }
  .image-gallery .c {
    transform: rotateY(240deg) translateZ(20vw) rotateY(-240deg);
  }
  /*half video half image */
  .half-video-half-image {
    flex-direction: row;
    overflow: hidden;
  }
  .half-video-half-image .video,
  .half-video-half-image .image {
    width: 50%;
  }
}
@keyframes in {
  from {
    -webkit-transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10px);
  }
}

@keyframes out {
  0% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
